<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Iniciar sesion</h2>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input ng-model="loginData.UserName"  type="text" id="inputEmail" class="form-control" placeholder="Usuario" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Contrasena</label>
        <input ng-model="loginData.Password" type="password" id="inputPassword" class="form-control" placeholder="Contrasena" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Recordar datos
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Log in</button>
        <div class="alert alert-danger" ng-show="messageError.length>0"><strong>{{messageError}}</strong></div>
    </form>

</div>